-- series de documentos
SELECT [ccoddocu]
      ,[ctipdocu]
      ,[cserdocu]
      ,[cnumdocu]
      ,[cnumline]
      ,[ccodalma]
      ,[interno]
      ,[sufijo]
  FROM [galaxia_corasur].[galaxia_corasur].[gx_series]